.container{
    background: #9999ff;
    display: flex;
    justify-content: center;
}

.header{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}