/*input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {*/
/*    font-size: 0.75em;*/
/*    color: #999;*/
/*    top: -5px;*/
/*    -webkit-transition: all 0.225s ease;*/
/*    transition: all 0.225s ease;*/
/*}*/

/*.styledInput {*/
/*    width: 100%;*/
/*    margin: 1rem 0;*/
/*    position: relative;*/
/*    border-radius: 4px;*/
/*}*/

/*@media only screen and (max-width: 768px) {*/
/*    .styledInput {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*.styledInput label {*/
/*    color: #999;*/
/*    padding: 1.3rem 30px 1rem 30px;*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    left: 0;*/
/*    -webkit-transition: all 0.25s ease;*/
/*    transition: all 0.25s ease;*/
/*    pointer-events: none;*/
/*}*/

/*.styledInput.wide {*/
/*    width: 650px;*/
/*    max-width: 100%;*/
/*}*/

/*input,*/
/*textarea {*/
/*    padding: 30px;*/
/*    border: 0;*/
/*    width: 100%;*/
/*    font-size: 1rem;*/
/*    background-color: #2d2d2d;*/
/*    color: white;*/
/*    border-radius: 4px;*/
/*}*/

/*input:focus,*/
/*textarea:focus {*/
/*    outline: 0;*/
/*}*/

/*input:focus ~ span,*/
/*textarea:focus ~ span {*/
/*    width: 100%;*/
/*    -webkit-transition: all 0.075s ease;*/
/*    transition: all 0.075s ease;*/
/*}*/

/*textarea {*/
/*    width: 100%;*/
/*    min-height: 15em;*/
/*}*/



/*.inputContainer {*/
/*    max-width: 650px;*/
/*    margin: 20px auto;*/
/*    padding: 0 10px;*/
/*    text-align: center;*/
/*}*/

/*.submitBtn {*/
/*    padding: 7px 35px;*/
/*    border-radius: 60px;*/
/*    display: inline-block;*/
/*    background-color: #4b8cfb;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    cursor: pointer;*/

/*    -webkit-transition: all 300ms ease;*/
/*    transition: all 300ms ease;*/
/*}*/


/*.submitBtn:hover {*/
/*    transform: translateY(5px);*/

/*}*/

/*input[type=checkbox] + label {*/
/*    color: #ccc;*/
/*    font-style: italic;*/
/*}*/

/*input[type=checkbox]:checked + label {*/
/*    color: #f00;*/
/*    font-style: normal;*/
/*}*/

/*.styledInput textarea {*/
/*    resize: none;*/
/*}*/

/*.btn {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/










.contactBlock{
    max-width: 1200px;
    margin: 20px auto;
    border: 1px solid yellow;

}

.contactBlock h2 {
    font-family: Poppins, sans-serif;
    font-weight: 900;
    font-size: 56px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;

}

.contactBlock h2 span {
    color:#ffb400;
}

.contactInfo{
    display: flex;
    justify-content: space-between;
}


.socialMedia{
    max-width: 400px;
}

.socialMedia h4 {
    margin: 0;
}

.emailPhone{}

.linksMedia{}


.contactsData{}

.nameEmailSubject{}