
.wrapper {
  .c100 {
    position: relative;
    font-size: 130px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #1f1f1f;
    margin: 20px;

    &:after {
      position: absolute;
      top: 0.08em;
      left: 0.08em;
      display: block;
      content: " ";
      border-radius: 50%;
      background-color: #111;
      width: 0.84em;
      height: 0.84em;
    }

    .skillLogo {
      width: 50px;
      height: 50px;
    }

    > img {
      position: absolute;
      z-index: 1;
      left: 32%;
      top: 32%;
      color: #cccccc;
    }

    .slice {
      position: absolute;
      width: 1em;
      height: 1em;

      .bar {
        border: 0.08em solid #ffb400;
        position: absolute;
        width: 0.84em;
        height: 0.84em;
        border-radius: 50%;
      }
    }

  }

  .span {
    margin-top: 15px;
    display: block;
    font-family: 'OpenSans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }

}
