.wrapper{
    background: #92a5ca;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    border: 1px solid;
    height: 80%;
    text-align: center;
    width: 80%;
}

.skillsBlock{
    display: flex;
    justify-content: space-evenly;
    height: 80%;/* Спросит у Светы нюанс про высоту родителя в 80% а ребенка 100% */
    align-items: center;
    flex-wrap: wrap;
}

