.wrapper{
    position: relative ;
    background: rgb(17,17,17);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.colorBlock{
    background:#ffb400;
    position: absolute;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
}

.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aboutMe{
    font-family: 'OpenSans', sans-serif;
    max-width: 550px;
    margin: 10px 0;
    padding: 10px;
    font-weight: 600;

}

.aboutMeText{
    color: #eee;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.avatar{
    background-image: url('../../src/assets/img/finalPhoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 60px);
    z-index: 3;
    border-radius: 15px;
    left: 30px;
    top: 30px;
    box-shadow: 0 0 7px rgba(0,0,0,.9);
    width: 100%;
    max-width: 645px;
}

.heading{
    font-size: 45px;
    line-height: 45px;
    font-weight: 600;
    margin: 18px 0 10px;
}

.surname{
    color:#ffb400
}

.aboutMeFooterText{
    font-family: 'OpenSans', sans-serif;
    margin: 10px 0 23px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
}

.btn{
    font-family: Poppins, sans-serif;
    box-shadow: none ;
    border-radius: 26px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 40px;
    outline: none ;
    overflow: hidden;
    display: inline-block;
    position: relative;
    background-color: #ffb400;
}