.wrapper{
    background: #b6b6db;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.aboutMe{
    width: 400px;
    height: 200px;
    border: 1px solid;
    margin: 10px 0;
    padding: 10px;
}

.avatar{
    width: 320px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}