.wrapper{
    background: #b6b6db;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    border: 1px solid;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.aboutMe{
    width: 400px;
    height: 200px;
    background: orange;
}

.avatar{
    width: 300px;
    height: 500px;
    background: orange;
}