.mainBlock {
    height: 100vh;
    background: #ccd9ef;
    display: flex;
    align-items: center;
}

.block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.greeting {
    width: 300px;
    background: beige;
}

.photo {
    width: 300px;
    height: 400px;
    background: beige;
}