.projectBlock {
    width: 400px;
    height: 500px;
    margin: 10px 0;
    border: 1px solid;
}

.bgImage {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.watchBtn {
    border: 1px solid gainsboro;
    padding: 15px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    background: #dffffc;
    position: relative;
    transition: all ease-in 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.watchBtn:hover {
    height: 60px;
    width: 110px;
    background: #9df5fa;
}

.watchBtn:active {
    top: 2px;
    left: 2px;
}

.projectFooter {
    padding: 10px;
}



.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    background: #060c21;
    border-radius: 10px;

}

.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgBx img {
    max-width: 100%;
    opacity: .1;
    transition: .5s;
}

.box:hover {
    height: 400px;
}

.box:hover .imgBx img {
    opacity: 1;
}

.box::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    border-radius: 10px;
}

.box::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    filter: blur(40px);
}

.box::before,
.box::after {
    background: linear-gradient(45deg, rgba(255, 5, 172, 1) 0%, rgba(255, 5, 172, 1) 18%, rgba(0, 255, 255, 1) 100%)
}

.box .content span {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-align: center;
}

.box:hover .content {
    opacity: 0;
}

.box:hover .imgBx img {
    height: 100%;
}

.box .content span {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
}






























