
.informationList {
    font-family: 'OpenSans', sans-serif;
    font-weight: 500;
    font-size: 15px;

}

.informationList:first-child{
    margin-right: 20px;
    margin-bottom: 20px;
}

.informationList li {
    padding-bottom: 20px;

}

.informationList li span {
    font-family: 'OpenSans', sans-serif;
    font-weight: 600;
}


